<!-- <body>
 
  <header class="header">
   
    <div class="header-content">
      <h1 class="header-title">Madhya Pradesh Paschim Kshetra Vidyut Vitran Company Limited</h1>
    </div>
  </header>
<div class="container-fluid">
  <div class="row">
    <div class="col-6"></div>
    <div class="col-4 col-md-6 col-md-offset-6 "> 
      <div class="row">
      <div class="col-3"></div>     
      <div class="col-6 " style="margin-top: 190px;">
        <div class="card">
          <h4 style="color: rgb(12, 10, 124); font-weight: bolder;">IT Inventory Management</h4>
          <form #login="ngForm" (ngSubmit)="onLogin(login.value)" >
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username"  ngModel/> 
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" ngModel/>
            <button type="submit">Login</button>
          </form>
            <br>
          <label for="message" style="margin: auto;padding-top: 2%; color: whitesmoke;">© Copyright MPPKVVCL Indore</label>
        </div>
      </div>     
    </div>
    </div>
  </div>
</div>

</body>
<header class="header">
   
  <div class="header-content">
    <h1 class="header-title"></h1>
  </div>
</header> -->


<body>
  <header class="header">
    <div class="header-content">
      <h1 class="header-title">Madhya Pradesh Paschim Kshetra Vidyut Vitran Company Limited</h1>
    </div>
  </header>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">
          <h4 style="color: rgb(12, 10, 124); font-weight: bolder;">IT Inventory Management</h4>
          <form #login="ngForm" (ngSubmit)="onLogin(login.value)" >
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username"  ngModel/> 
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" ngModel/>
            <button type="submit">Login</button>
          </form>
          <br>
          <label for="message" style="margin: auto;padding-top: 2%; color: whitesmoke;">© Copyright MPPKVVCL Indore</label>
        </div>
      </div>
    </div>
  </div>
  
</body>
<header class="header">
   
  <div class="header-content">
    <h1 class="header-title"></h1>
  </div>
</header> 