<div class="main-content container-fluid mt-4">
    <div class="content">
        <h2 style="color: #0d011d; border-bottom: #023304 solid 2px; padding: 5px;">
            Welcome {{sessionuser}}
            <br>
            <span>
                Analytics Inventory Management Dashboard.
            </span>
        </h2>
        <div class="cards">
            <div class="card" style="background-color: #67d4f5;">
                <!-- <div class="icon"><i class="fas fa-shield-alt"></i></div> -->
                <div class="title">Total <br> Inventory</div>
                <div class="price">
                    <h5 class="alert-dange">{{totalEquipmentCount}}</h5>
                </div>
            </div>
            <div class="card" style="background-color: #b8e4f1;">
                <!-- <div class="icon"><i class="fas fa-archive"></i></div> -->
                <div class="title"> Inventory <br> Issued</div>
                <div class="price">
                    <h5 class="alert-dange">{{assignedCount}}</h5>
                </div>
            </div>
            <div class="card" style="background-color: #bfe9c1;">
                <!-- <div class="icon"><i class="fas fa-server"></i></div> -->
                <div class="title">Inventory <br> Available</div>
                <div class="price">
                    <h5 class="alert-dange">{{availableCount}}</h5>
                </div>
            </div>
            <div class="card" style="background-color: #b4d0e9;">
                <!-- <div class="icon"><i class="fas fa-users"></i></div> -->
                <div class="title">Inventory <br> In Warranty</div>
                <div class="price">
                    <h5 class="alert-dange">{{ warrantyStatusSummary.in_warranty }} </h5></div>
            </div>
            <div class="card" style="background-color: #ebc2c1;">
                <!-- <div class="icon"><i class="fas fa-server"></i></div> -->
                <div class="title">Inventory <br> Warranty Expired</div>
                <div class="price">
                    <h5 class="alert-dange">{{ warrantyStatusSummary.expired_warranty }}</h5>
                </div>
            </div>
            <div class="card" style="background-color: #e4d9a9;">
                <!-- <div class="icon"><i class="fas fa-users"></i></div> -->
                <div class="title">Inventory <br>No Warranty</div>
                <div class="price">  <h5 class="alert-dange">{{ warrantyStatusSummary.no_warranty }}</h5></div>
            </div>
        </div>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-6 mb-3">
                    <div class="form-group">
                        <div class="top assignemnt-history">
                            <div class="card-header"
                                style="background-color: rgb(79, 165, 250); color: whitesmoke;padding: 10px;">
                                <h5 class="mb-0">Top Assigned Inventory</h5>
                            </div>
                            <div class="table-responsive">
                                <table class="table  table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Office Name</th>
                                            <th>Location Code</th>
                                            <th>count</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of topAssignees">
                                            <td>{{ item.assigned_to_details }}</td>
                                            <td>{{item.assigned_to}}</td>
                                            <td>{{ item.count }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 mb-3">
                    <div class="card-header"   style="background-color: rgb(79, 165, 250); color: whitesmoke;padding: 10px;">
                        <h5 class="mb-0">Inventory Stock Status</h5>
                    </div>
                    <div class="table-responsive">

                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Condition</th>
                                    <th>Status</th>
                                    <th>Count</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of statusSummary">
                                    <td>{{ item.condition }}</td>
                                    <td>{{ item.status }}</td>
                                    <td>{{ item.count }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 mb-3">
                    <div class="form-group">
                        <div class="recent assignment-history">
                            <div class="card-header"
                            style="background-color: rgb(79, 165, 250); color: whitesmoke;padding: 10px;">
                                <h5 class="mb-0">Recent Assigned Inventory</h5>
                            </div>
                            <div class="table-responsive">
                                <table class="table  table-bordered table-hover">
                                    <thead>
                                        <tr style="font-size: 15px;">
                                            <th>S.No</th>
                                            <!-- <th>PO No</th> -->
                                            <th>Category</th>
                                            <!-- <th>Sub Category</th> -->
                                            <th>Serial No</th>
                                            <!-- <th>Make</th> -->
                                            <th>Model</th>
                                            <!-- <th>Receipt Date</th> -->
                                            <th>Issued User/Location</th>
                                            <!-- <th>Issued Type</th> -->
                                            <th>Condition</th>
                                            <th>Issued By</th>
                                            <th>Issued On</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of recentAssignments | slice:0:5; let i = index">
                                            <td>{{ i+1 }}</td>
                                            <!-- <td>{{ item.equipment.order.po_number }}</td> -->
                                            <td>{{ item.equipment.category }}</td>
                                            <!-- <td>{{ item.equipment.sub_category }}</td> -->
                                            <td>{{ item.equipment.serial_number }}</td>
                                            <!-- <td>{{ item.equipment.make }}</td> -->
                                            <td>{{ item.equipment.model }}</td>
                                            <!-- <td>{{ item.equipment.receipt_date | date: 'dd-MM-yyyy' }}</td> -->
                                            <td>{{ item.assigned_to }}</td>
                                            <!-- <td>{{ item.assigned_type }}</td> -->
                                            <td>{{ item.assigned_condition }}</td>
                                            <td>{{ item.created_by }}</td>
                                            <td>{{ item.created_on | date: 'dd-MM-yyyy' }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <div class="container-fluid">
            <!-- Category Wise Inventory -->
            <div class="row">
                <div class="col-md-6 col-lg-6 mb-3">
                    <div class="card-header"   style="background-color: rgb(79, 165, 250); color: whitesmoke;padding: 10px;">
                        <h5 class="mb-0">Category Wise Inventory</h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Category</th>
                                    <th>Sub Category</th>
                                    <th>Status</th>
                                    <th>Count</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of categorySummary;">
                                    <td>{{ item.category }}</td>
                                    <td>{{ item.sub_category }}</td>
                                    <td colspan="2">
                                        <table class="table mb-0">
                                            <tbody>
                                                <tr *ngFor="let status of item.statuses">
                                                    <td>{{ status.status }}</td>
                                                    <td>{{ status.count }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Inventory Available Status -->
                <div class="col-md-6 col-lg-6 mb-3">
                    <div class="card-header"  style="background-color: rgb(79, 165, 250); color: whitesmoke;padding: 10px;">
                        <h5 class="mb-0">Inventory Available Status</h5>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Category</th>
                                    <th>Sub Category</th>
                                    <th>Condition</th>
                                    <th>Count</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of available_summary">
                                    <td>{{ item.category }}</td>
                                    <td>{{ item.sub_category }}</td>
                                    <td colspan="2">
                                        <table class="table mb-0">
                                            <tbody>
                                                <tr *ngFor="let condition of item.conditions">
                                                    <td>{{ condition.condition }}</td>
                                                    <td>{{ condition.count }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>