.header_title{
    background-color: rgb(17, 37, 57);
   }

   
 .disable{
    background-color: rgb(236, 240, 243);
  }

  /* Make buttons full-width on small screens */
@media (max-width: 480px) {
  .card-footer .btn {
    width: 40%;
    margin-bottom: 10px;
  }
}

    /* Media Queries for Mobile Responsiveness */
    @media (max-width: 768px) {
      .content {
          margin-left: 0px;
          padding: 20px;
          transition: all 0.3s ease;
      }
      .content.collapsed {
          margin-left: 265px;
      }
      .sidebar.collapsed {
          
      width: 265px;
  
     }
     .sidebar {
      width: 0px;
  }
  
    }
    
    @media (max-width: 480px) {
      .content {
          margin-left: 0px;
          padding: 20px;
          transition: all 0.3s ease;
      }
      .content.collapsed {
          margin-left: 265px;
      }
      .sidebar.collapsed {
          
      width: 265px;
  
     }
     .sidebar {
      width: 0px;
  }
    }

