<div class="container-fluid mt-5">
    <div class="jumbotron text-center">
      <h1 class="text-primary">Welcome to Inventory Management System</h1>
      <br>
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-md-8 col-sm-10 col-xs-12">
            <div class="welcome-content">
              <p>Inventory Management System is designed to help you track and manage your stock levels, monitor inventory movement, and make decisions about your inventory.</p>
               <br>
              <ul>
                <li><i class="fas fa-box"></i> Track stock levels in real-time</li>
                <li><i class="fas fa-chart-bar"></i> Monitor inventory movement and trends</li>
                <li><i class="fas fa-cog"></i> Make informed decisions about your inventory</li>
                <li><i class="fas fa-lock"></i> Secure and reliable inventory management</li>
              </ul>
              <br>
              <p>With system, you can easily manage your inventory, reduce redundancy and unmannage stocking, and improve your overall working efficiency.</p>
              <!-- <button class="btn btn-primary" routerLink="inventory-dashboard">Let's visit Dashboard</button> -->
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </div>