<div class="container-fluid mt-5">
  <div class="card">
    <div class="card-header" style="background-color: rgb(1, 21, 41); color: whitesmoke;">
      <h5 class="mb-0">User Profile</h5>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="firstName">First Name:</label>
          <input type="text" class="form-control disable" readonly id="firstName" [(ngModel)]="user.first_name" name="firstName">
        </div>
        <div class="form-group">
          <label for="lastName">Last Name:</label>
          <input type="text" class="form-control disable" readonly id="lastName" [(ngModel)]="user.last_name" name="lastName">
        </div>
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control disable" readonly id="username" [(ngModel)]="user.username" name="username">
        </div>
        <div class="form-group">
          <label for="role">Role:</label>
          <input type="text" class="form-control disable" readonly id="role" [(ngModel)]="user.role" name="role">
        </div>
        <div class="form-group">
          <label for="employeeNumber">Employee Number:</label>
          <input type="text" class="form-control disable" readonly id="employeeNumber" [(ngModel)]="user.employee_number" name="employeeNumber">
        </div>
        <div class="form-group">
          <label for="officeName">Office Name:</label>
          <input type="text" class="form-control disable" readonly id="officeName" [(ngModel)]="user.office_name" name="officeName">
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control disable" readonly id="email" [(ngModel)]="user.email" name="email">
        </div>
        <div class="form-group">
          <label for="mobileNo">Mobile No:</label>
          <input type="tel" class="form-control disable" readonly id="mobileNo" [(ngModel)]="user.mobile_no" name="mobileNo">
        </div>
        <!-- <button class="btn btn-primary" id="ChangePassword" (click)="changePassword()">Change Password</button> -->
              

      </form>
    </div>
  </div>
</div>
